@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --text-prime: #ffffff;
  --text-sec: #ececec;
  --bg-prime: #000000;
  --bg-sec: #352f44;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-prime);
  color: var(--text-prime);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

nav {
  margin: 0rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-p1 > img {
  cursor: pointer;
}

.nav-p1 {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav-li {
  cursor: pointer;
  list-style: none;
}

.nav-p2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-p2 > button {
  background-color: var(--text-sec);
  padding: 0.5rem;
}

.nav-p2 > .star {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
