@font-face {
  font-family: 'DeathNote';
  src: url('./assets/fonts/Death Note.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  font-size: 16px;
  font-family: "DeathNote", sans-serif;
  --text-prime: #ffffff;
  --text-sec: #ececec;
  --bg-prime: #000000;
  --bg-sec: #352f4410;
  --transition-default: 500ms ease;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-prime);
  color: var(--text-prime);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

nav {
  margin: 0rem 2rem;
  /* padding-bottom: 1rem; */
  border-bottom: 5px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-p1 > img {
  cursor: pointer;
}

.nav-p1 > img:hover {
  transition: var(--transition-default);
  /* animation: 2s spin ease; */
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-p1 {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav-ul-sidebar {
  background-color: var(--bg-sec);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.nav-ul-sidebar > li {
  margin-top: 2rem;
  margin-right: 1rem;
}

.nav-li > a {
  color: var(--text-prime);
  text-decoration: none;
}

.nav-li {
  transition: var(--transition-default);
  font-size: 1.7rem;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 600;
  cursor: pointer;
  list-style: none;
  position: relative;
}

.nav-li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: var(--text-prime);
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.nav-li:hover {
  border-radius: 0.1rem;
  padding: 0.3rem;
  background-color: red;
  scale: 1.2;
}

.nav-li:hover::after {
  transform: scaleX(1);
}

.nav-p2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-p2 > a {
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--text-prime);
  text-decoration: none;
  color: var(--text-prime);
  transition: var(--transition-default);
}

.nav-p2 > a:last-child {
  display: none;
  border: none;
}

.nav-p2 > a:hover {
  scale: 1.1;
  background-color: var(--text-prime);
  color: var(--bg-prime);
}

.nav-p2 > a:last-child:hover {
  background-color: var(--bg-prime);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.main-main {
  transition: var(--transition-default);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0%;
}

main {
  /* height: 100vh; */
  margin: 2rem 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.main-main {
  /* width: fit-content; */
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
}

.main-main > a {
  color: var(--text-prime);
  text-decoration: none;
}

.main-1 {
  transition: var(--transition-default);
}

.main-1:hover {
  scale: 1.1;
}

.main-1 > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin: 0.5rem 0rem;
}

.main-1 > h3 {
  display: none;
  font-family: 'bebas', sans-serif;
  margin: 0;
  font-size: 1.4rem;
  /* font-size: medium; */
}

.main-1 > p {
  font-family: 'Roboto', sans-serif;
  color: var(--text-sec);
  margin: 0.4rem 0rem;
  font-size: 0.7rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: var(--text-prime);
}

::-webkit-scrollbar-thumb{
  background-color: var(--bg-prime);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 850px) {
  #hide {
    display: none;
  }

  .nav-p2 > a:last-child {
    display: flex;
  }

}